<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>

<script type="text/javascript">
      var count = document.getElementsByClassName('Commenter:').length;

      alert(i)
//        alert(count.item(i).nodeName);

    //    var test = prompt("Тест", '');
</script>


