<form class ="caption">
<% @posts.reverse_each do |post| %>
      <div class="caption">
      <legend class="the-legend"><%= link_to post.title, post %></legend>
      <strong><%= post.name %></strong>
      <%= raw post.tag_list.map {|t| link_to t, tag_path(t)}.join(" ,") %> <br />
      <%= sanitize (truncate post.content, length: 300) %>
      </div>
 <% end %>
</form>



